body{
    background-image: url('img/textura.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#evento1-container {
    background-color:#501777;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 50px;
    margin-top: 10vh;
    border-radius: 20px;
    text-align: center;
}

h3, p, a {
    color: white
}

a:hover {
    color: #EC0089
}

.btn a{
    background-color: #501777;
    width: 200px;
}